president{color:blue; font-size:18px; font-family:Verdana;}
party{color:green; font-size:14px; font-family:cursiva;}
vicePresident{color:blue; font-size:14px; font-family:Verdana;}
name{display:block}
party{display:block}